body{
    background-color: #FAFCFF;
}

.formHeading {
    color: #A7A8A7;
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
  }

.display-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}