.candidate_agreement{
    display: flex;
    width: 50%;
    /* border: 2px solid pink; */
    font-weight: 500;
    text-align: center;

}

.candidate_agreement input{
    width: 2.5vw;
    max-width: 5rem;
    min-width: 1rem ;
}

.candiContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.candidate_message_container{
    font-family: Raleway;
    /* color: #056FC6; */
    font-weight: 700;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
   
    background-image: url('../../assets/bgImage.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.bg{
   
    /* border: 2px solid black; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100vw;
    backdrop-filter: blur(10px);
}

.contain{
/* border: 5px solid brown; */
/* border-radius: 10px; */

box-shadow: 2px 1px 5px #10294E ;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
max-height: 1000px;
height: 40vh;
z-index: 12;

background-color: #ffffff;

}

.timer{
    border:2px solid #056FC6;
    border-radius: 500px;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 3rem;
    text-align: center;
  
}

.nextBtn{
   
    border-radius: 500px;
    /* border: none; */
    background-color: #dfdbdb;
    color: black;
    width: 20vw;
    font-family: "Raleway";
    height: calc(22vw * (103/526));
    max-width: 250px;
    max-height: calc(255px * (103/526)); 
    /* padding: 0.5rem; */
    
}

.candiButton{
    color: #ffffff;
    background-color: #056FC6;
    font-size: 1rem;
    font-family: Raleway;
    border: none;
    padding: 0rem 1rem;
    text-align: center;
}

.question_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../../assets/bgImage.svg');
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* border: 2px solid blue; */

}

.candidate_layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    background-color: #FFFFFF;
    border-radius: 50px;
    /* border: 2px solid red; */
}

.question_number{
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 500;
    border: none;
    padding: 0;
    font-family: 'Raleway';
    margin:0.3rem 0.5rem;
    background-color: #a8bac6;
}

.question_number:hover{
    /* background-color: red; */
    color: white;
}

.candidate_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid brown; */
    align-items: center;
    height: 100%;
    margin-left: 5rem;
    padding-right: 20px;
}

.candidate_side div{
    margin:10px;
    font-family: 'Raleway';
}

.question_btn{
    /* color: red; */
    padding: 5rem;
    font-family: 'Raleway';
}
.questionHead{
    font-size: 1.5rem;
    padding-top: 1rem;
     /* border: 2px solid blue; */
}
.recordButton {
    font-family: 'Raleway';
    background-color: #056FC6;
    color: #FFFFFF;
    border: none;
}



.videoLayout{
    width: 550px;
    height: 300px;
    /* border: 2px solid blue; */
}

.videoLayout .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;   
}

.questions{
   width: 550px;

}

.candidateButton{
    border-radius: 500px;
    /* border: none; */
    background-color: #056FC6;
    color: #ffffff;
    width: 20vw;
    font-family: "Raleway";
    height: calc(22vw * (103/526));
    max-width: 250px;
    max-height: calc(255px * (103/526)); 
}

.equipBody{
    padding: 0.2rem;
    font-family: 'Raleway';
    font-weight:500;
    width: 70vw;
    text-align: center;
    

}



.candidate_video{
    width: 70vw;
    height: 50vh;
}

.videoContainer{
    background-color: #FFFFFF;
    height: 80vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

