.agreement{
    display: flex;
}

.agreement input{
    width: 2.5vw;
    max-width: 5rem;
    min-width: 1rem ;
}

.candiContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.candidate_message_container{
    font-family: Raleway;
    /* color: #056FC6; */
    font-weight: 700;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    height: 100vh;
}

.contain{
border: 5px solid brown;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
max-height: 1000px;
height: 40vh;
}

.nextBtn{
    height: 200px;
}

.candiButton{
    /* height: 300px; */
}