.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.navbar {
    height: 60px;
    background-color: #F7F9FC;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.5rem;
}

.logo {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
}

.leftColumn {
    flex: 1;
    padding-right: 1rem;
}

.leftColumn h2 {
    margin-top: 0;
}

.leftColumn h1 {
    line-height: 2rem;
}

.leftColumn p {
    margin-top: 0;
}

.leftColumn span {
    font-weight: bold;
}

.rightColumn {
    flex: 1;
    padding-left: 1rem;
}

form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}


.label {
    margin-bottom: 0.5rem;
}

.input {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
}

.button {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    margin-bottom: 0.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: #056FC6;
    color: white;
    font-family: 'Raleway';
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button:active {
    background-color: #04589E;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(3px);
}

.subButton {
    background-color: #D52E2D;
}

.subButton:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.subButton:active {
    background-color: #aa2424;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(3px);
}