body {
    background-color: #FAFCFF;
  }

.formHeading {
    color: #A7A8A7;
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
  }

/* form.css */

/* Form container */
.form-container {
    display: flex;
    justify-content: space-between;
  }
  
  /* Column styles */
  .form-column {
    flex: 1;
    margin-right: 2rem;
  }
  
  /* Label styles */
  .form-label {
    display: block;
    margin-bottom: 5px;
    color: #484848;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2rem;
  }
  
  /* Input field styles */
  .form-input {
    padding: 10px;
    border-radius: 2.5rem;
    border: none;
    font-family: 'Raleway', sans-serif;
    width: 50vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    outline: none;
  }
  
  .form-input:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .form-input:active {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .form-input.doubleHeight {
    height: 10rem;
  }
  
  /* Button styles */
  .form-button {
    background-color: #D52E2D;
    width: 50%;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .form-button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .form-button:active {
    background-color: #aa2424;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(3px);
  }
  