.loginContainer {
  display: flex;
  height: 100vh;
}

.leftColumn {
  flex: 1;
  background-color: #056FC6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcomeText {
  color: #FFFFFF;
  font-size: 5rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.rightColumn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: #F5FAFD;
}

.formHeading {
  color: #484848;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  margin-bottom: 10%;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #484848;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

input {
  padding: 10px;
  border-radius: 2.5vh;
  border: none;
  font-family: 'Raleway', sans-serif;
  width: 50vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  outline: none;
}

.input:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input:active {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 

.roundedButton {
  padding: 10px 20px;
  border-radius: 2.5vh;
  align-items: center;
  background-color: #056FC6;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  border: none;
  cursor: pointer;
  width: 50vh;
  transition-duration: 0.2s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.roundedButton:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.roundedButton:active {
  background-color: #04589E;  /* If the button colour is blue  */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateY(3px);
}
/* Responsive Styles */
@media (max-width: 768px) {
  .loginContainer {
    flex-direction: column;
  }

  .leftColumn {
    height: 200px;
  }

  .rightColumn {
    padding: 10px;
  }

  .formHeading {
    font-size: 20px;
  }

  .roundedButton {
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .leftColumn {
    height: 150px;
  }

  .formHeading {
    font-size: 18px;
  }

  .roundedButton {
    padding: 6px 12px;
  }
}
